<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>JeeProjet2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AuthController</servlet-name>
    <servlet-class>controller.AuthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthController</servlet-name>
    <url-pattern>/AuthController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/IndexController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidationController</servlet-name>
    <servlet-class>controller.ValidationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationController</servlet-name>
    <url-pattern>/ValidationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValiderInscriptionController</servlet-name>
    <servlet-class>controller.ValiderInscriptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiderInscriptionController</servlet-name>
    <url-pattern>/ValiderInscriptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CoursControlller</servlet-name>
    <servlet-class>controller.CoursControlller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoursControlller</servlet-name>
    <url-pattern>/CoursControlller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EtudiantController</display-name>
    <servlet-name>EtudiantController</servlet-name>
    <servlet-class>controller.EtudiantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EtudiantController</servlet-name>
    <url-pattern>/EtudiantController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnseignantController</display-name>
    <servlet-name>EnseignantController</servlet-name>
    <servlet-class>controller.EnseignantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnseignantController</servlet-name>
    <url-pattern>/EnseignantController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionEnseignantController</display-name>
    <servlet-name>InscriptionEnseignantController</servlet-name>
    <servlet-class>controller.InscriptionEnseignantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionEnseignantController</servlet-name>
    <url-pattern>/InscriptionEnseignantController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionEtudiantController</display-name>
    <servlet-name>InscriptionEtudiantController</servlet-name>
    <servlet-class>controller.InscriptionEtudiantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionEtudiantController</servlet-name>
    <url-pattern>/InscriptionEtudiantController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoursEnseignantRedirection</display-name>
    <servlet-name>CoursEnseignantRedirection</servlet-name>
    <servlet-class>controller.CoursEnseignantRedirection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoursEnseignantRedirection</servlet-name>
    <url-pattern>/CoursEnseignantRedirection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditNoteController</display-name>
    <servlet-name>EditNoteController</servlet-name>
    <servlet-class>controller.EditNoteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNoteController</servlet-name>
    <url-pattern>/EditNoteController</url-pattern>
  </servlet-mapping>
</web-app>